@use '../common/var.scss' as *;

.sm-email-input {
  display: flex;
  flex-direction: column;
  // margin-bottom: $spacing-large;
  position: relative;

  &__field-wrapper {
    display: flex;
    align-items: center;
    gap: $spacing-base;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: $border-radius;
    padding: $spacing-base;
    width: 100%;

    &:hover {
      border-color: $border-color-hover;
    }

    img {
      width: 24px;
      height: 24px;
      opacity: 0.6;
    }
  }

  &__field {
    font-size: $font-size-base;
    transition: border-color $transition-duration $transition-timing-function;
    width: 100%;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }
  }

  &__error {
    color: $danger-color;
    font-size: $font-size-small;
    margin-top: $spacing-small;
    position: absolute;
    bottom: -15px;
  }

  .error {
    border-color: $danger-color;
  }

  .is-value {
    img {
      opacity: 1;
    }
  }
}

@media (max-width: 980px) {
  .sm-email-input {
    &__field-wrapper {
      display: flex;
      align-items: center;
      gap: 0.1rem;
      width: 100%;
      border-radius: 0.08rem;
      background: #fff;
      padding: 0.15rem 0.2rem;
      box-sizing: border-box;

      img {
        width: 0.34rem;
        height: 0.34rem;
      }
    }

    &__field {
      font-size: 0.2rem;
      border-radius: 0.08rem;
    }

    &__error {
      font-size: 0.18rem;
      margin-top: 0.1rem;
      position: absolute;
      bottom: -0.3rem;
    }
  }
}
